
@{
    ViewData["Title"] = "WarehouseShowAll";
}

<h1>仓库信息管理列表</h1>
<div id="warehouse">
    <h3>数据筛选</h3>
    编号：
    <input type="text" placeholder="请输入仓库编号" id="wareBian" />
    仓库名称：
    <input type="text" placeholder="请输入仓库编号" id="wareName" />
    部门：
    <select id="waredep">
        <option value="">请选择</option>
    </select>
    仓库类型：
    <select id="waredep">
        <option value="">请选择</option>
    </select>
    


</div>


